@import 'variables';

.admin-container {
    .admin-overlay {
        display: flex;
        @include breakpoint (small){
            flex-direction: column;
        }
        .admin-menu {
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            justify-content: center;
            @include breakpoint (small) {
                height: 50px !important;
                display: flex !important;
                flex-flow: row nowrap !important;
            }
            a {
                display: flex;
                text-align: center;
                flex-grow: 1;
                margin: auto;
                
                color: rgba(33, 148, 129, 0.767);
                font-size: $bigRem;
                padding: 10px;
                &:hover {
                    color: $color-default;
                    background: rgb(33, 148, 129);
                    // padding-left: 25px;
                    transform: scale( 1.5);
                    transition: all 0.6s;
                }
                i{
                    margin: auto;
                }
            }
        }
        .charts-box {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            background: rgba(66, 71, 82, 0.096);
            .chart-container {
                margin: auto;
                background: rgba(66, 71, 82, 0.171);
                margin: 0.3rem;
                width: 300px;
                height: 300px;
            
            }
            
        }
    }
}