footer {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 10px;
  background: rgba(43, 46, 48, 0.925);
    .footer-text-container {
      display: flex;
        .footer-text {
          padding: 10px;
          text-align: center;
          color: $color-default;
       
        }
    }
    .footer-links-container {
      display: flex;
      justify-content: space-evenly;
        .footer-links {
            color: $color-default;
            font-size: $bigRem;
            // margin: auto;

        }
    }
}