* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.content {
    background-image: url(../../assets/images/learning.jpg);
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .gadget-overlay {
        background-color: rgba(253, 253, 253, 0.774);
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        #container {
            margin: 1rem;
            min-width: 300px;
            background-color: rgb(139, 138, 134);
            background: linear-gradient(-45deg, rgb(66, 64, 64), rgb(216, 207, 207), rgb(112, 103, 103));
            box-shadow: 5px 5px rgb(51, 49, 49);
            padding: 20px;
            #title {
                color: #fff;
                padding-bottom: 20px;
                text-align: center;
                cursor: pointer;
                user-select: none;
            }
            #todo-form {
                text-align: center;
                #todo-input {
                    font-size: 1.2rem;
                    width: 80%;
                    margin-bottom: 0.8rem;
                    padding: 10px;
                    border: none;
                    &:focus {
                        outline: none;
                        box-shadow: 3px 3px 0 rgb(63, 61, 61);
                    }
                }
                #list {
                    list-style: none;
                    margin: 0.3rem;
                    li {
                        display: flex;
                        border-radius: 5px;
                        background-color: #fff;
                        padding: 0.5rem;
                        margin: 3px 0;
                        textarea {
                            color: rgb(90, 85, 85);
                            border: none;
                            width: 100%;
                        }
                        button {
                            font-size: 1.5rem;
                            padding: 10px;
                            font-weight: 700;
                            background-color: #fff;
                            color: rgb(189, 59, 59);
                            border: none;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}