@import 'variables';
/**************** medium device ****************/

@media screen and (max-width: $break-medium) {
    .menu {
        flex-direction: column;
    }
}

@media screen and (max-width: $break-small) {
    /**************** modal ****************/
    .modal-section {
        .modal {
            /**************** modal-content ****************/
            .modal-content {
                margin: 0 auto;
                width: 100% !important;
                max-width: 400px;
                min-width: $break-small;

                /**************** form-login ****************/
                .form-login {
                    padding: 1rem;
                    input {
                        margin: 0.3rem;
                        padding: 0.2rem 0.5rem;
                        font-size: 0.5rem;
                        width: 100%;
                    }
                    .btn {
                        margin: 0.5rem;
                        display: flex;
                        button {
                            color: #fff;
                            margin: auto;
                            width: 33%;
                            border: none;
                            padding: 0.5rem;
                            background-color: $default-bgc;
                        }
                    }
                    .inscription {
                        padding: 2rem 0;
                        display: flex;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.616);
                        p {
                            margin: auto;
                            text-align: center;
                        }
                        #btn-inscription {
                            color: #fff;
                            margin: auto;
                            border: none;
                            padding: 0.5rem;
                            background-color: rgb(173, 96, 96);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    
}