.content {
    background-image: url(../../assets/images/learning.jpg);
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-transform: uppercase;
    .gadget-overlay {
        background-color: rgba(253, 253, 253, 0.774);
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        #container {
            margin: 1rem;
            min-width: 300px;
            background-color: rgb(139, 138, 134);
            background: linear-gradient(-45deg, rgb(66, 64, 64), rgb(216, 207, 207), rgb(112, 103, 103));
            box-shadow: 5px 5px rgb(51, 49, 49);
            padding: 20px;
            #title {
                font-weight: 300;
                color: #fff;
                padding-bottom: 20px;
                text-align: center;
                cursor: pointer;
                user-select: none;
            }          
        }
    }
}