footer {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 10px;
  background: rgba(27, 28, 29, 0.966);
  @include breakpoint(small){
    flex-direction: column;
  }
    .footer-text-container {
      display: flex;
      @include breakpoint(small){
        flex-direction: column;
      }
        .footer-text {
          padding: 30px;
          text-align: center;
          color: $color-default;
       
        }
    }
    .footer-links-container {
      display: flex;
      justify-content: space-evenly;
        .footer-links {
            color: $color-default;
            font-size: $bigRem;
            margin: auto;

        }
    }
}